.catalog-section-list {
	display: inline-block;
}
.catalog-item{
	background: #fff;
	float: left;
	width: 100%;
	min-height: 120px;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ddd;
	margin: 5px;
	transition: all 0.3s ease;
	z-index: 0;
}
.catalog-item:hover{
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	transform: scale(1.03);
	transition: all 0.3s ease;
	z-index: 1;
}
.catalog-item img{
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.6s ease 0s;
}
.catalog-item:hover img{
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transition: all 0.6s ease 0s;
}