.download_zip{
  cursor: pointer;
}
.table_row{
  margin-bottom: 30px;
}
.static_text{
  text-align: left;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.gos_banner{
  margin: 50px 0;
}