.col-md-8,.doc-item .col-md-4 {
 padding:0;
 margin:0
}
.doc-item{
width:100%;
}
.doc-title{font-size: 0.8rem;}
.doc-item-boby {
 text-align:left;
 position:relative;
 background-color:#fff;
 margin-bottom:20px;
 -webkit-box-shadow:0 1px 10px rgba(0,0,0,.07);
 box-shadow:0 1px 10px rgba(0,0,0,.07);
 border:1px solid #e6e6e6;
 height:100px;
 -webkit-transition:all .3s ease;
 transition:all .3s ease;
 overflow:hidden;
 border-radius: 60px;
}
.doc-item-boby .col-md-1 {
 margin:0;
 padding:0
}
.doc-item-boby .doc_icon {
 padding:0;
 margin:0;
 font-size:6rem;
 text-align:center;
 position:relative;
 overflow:hidden;
 height:100px;
 width:100%
}
.doc-item-boby .doc_icon i {
 width:100%;
 height:auto;
 font-size:3rem;
line-height: 100px;
 -webkit-transition:all .5s ease;
 transition:all .5s ease
}
.doc-body .col-md-2 {
 padding:0
}
.doc-body a {
 position:absolute;
 width:100%;
 height:100px;
 top:0;
 left:0;
 display:table
}
.doc-date {
 width:100%;
 height:100px;
 position:relative;
 text-align:center;
 line-height:90px;
 font-size:1rem;
 border-left:1px solid #ccc
}
.doc-date i {
 font-size: 1.2rem
}
.doc_download {
 border-left:1px solid #ccc;
 min-height:100px;
 position:relative;
 width:100%
}
.doc_download:hover {
 background: rgb(48, 131, 173);
}
.doc_download:hover a {
 color: #fff;
 text-decoration: none;
}
.doc_download a {
 font-size:1.4rem;
 height:100%;
 line-height:90px;
 position:absolute;
 text-align:center;
 width:100%
}
.doc-body {
 padding:0;
 position:relative;
 width:100%;
 max-height:100px;
 max-height:160px
}
.doc-title {
 margin:5px 0;
 overflow:hidden
}
div.news-list img.preview_picture {
 float:left;
 margin:0 4px 6px 0
}
.news-date-time {
 color:#486daa
}
#ajax-loader img {
 width:20px;
 height:20px;
 vertical-align:middle;
 display:none
}
div.more-items {
 border-top:1px solid #ccc;
 border-bottom:1px solid #ccc;
 padding:10px 0;
 text-align:center;
 margin-top:30px
}
a#load-items {
 font-size:14px;
 font-weight:700
}