.timeline
  position: relative
  display: flex
  flex-direction: column-reverse
  padding: 0
  margin: 0
  width: 100%
  height: auto
  max-height: 800px
  overflow-y: auto
  list-style: none
  &_item
    width: 100%
    position: relative
    padding: 0px 15px 25px 60px
    
    &:first-child
      &::before
        display: none
    &::before
      content: ''
      position: absolute
      left: 20px
      top: 0
      height: 100%
      border-left: 2px dashed #ccc
    &::after
      content: ''
      position: absolute
      left: 20px
      top: 20px
      width: 60px
      border-bottom: 2px dashed #ccc
      z-index: -1
    &_content
      display: flex
      flex-direction: column
      background-color: #fff
      box-shadow: $shadow
      padding: 15px
      z-index: 10
    &_icon
      position: absolute
      left: 0px
      top: 0
      width: 40px
      height: 40px
      line-height: 38px
      text-align: center
      border-radius: 100%
      background-color: #fff
      border: 2px dashed #ccc
      z-index: 10
    &_title
    &_desc
    &_ava
      position: absolute
      right: 15px
      top: 15px
      margin: 0 15px
      width: 45px
      height: 45px
      line-height: 45px
      border-radius: 100%
      display: block
      text-align: center
      background-color: #ededed
      border: 1px solid #b5b4b5
    &_date
      text-align: right